<form (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="nickName">Login</label>
      <input [(ngModel)]="loginForm.nickName" name="nickName" placeholder="nickname">
  </div>
  <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" [(ngModel)]="loginForm.password" name="password"  required>
  </div>
  <button type="submit">Valider</button>
</form> 