<p>
  Vos listes de courses
</p>
<div>
  <table>
    <tr>
      <th *ngFor="let shoppingList of shoppingLists">
        {{shoppingList.name}}
      </th>
    </tr>
    <tr>
      <td *ngFor="let shoppingList of shoppingLists">
          <span *ngFor="let categorie of shoppingList.categories">
            {{categorie.name}}
          </span>
      </td>
    </tr>
  </table>
</div>